#font-friend {overflow:hidden; position: fixed; bottom:0; left:30px; background-color:#fff; background-color:rgba(255,255,255,0.9); width:600px; color:#222; -moz-box-shadow:1px 1px 5px rgba(0,0,0,.3); -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.3); box-shadow:1px 1px 5px rgba(0,0,0,.3); z-index:10000; text-align:left; height:280px;}
#typo-drop {padding:12px 12px 12px 36px;}
#typo-toggle {background-color:#222; color:#eee; display:block; width:12px; height:16px; padding:0 1px 0 3px; position:absolute; top:0; left:0; font-size:16px; line-height:1; cursor:pointer;}
#typo-toggle:hover {color:#fff; background-color:#555;}
.open #typo-toggle {width:24px; height:32px; font-size:32px; padding:0 0 0 4px;}
#typo-drop h6 {font-size:13px; border-bottom:1px solid #aaa; line-height:1.5 !important; margin:0 0 6px !important; padding:0 !important; text-indent:0 !important; float:none !important;}
#typo-drop div {float:left; width:120px; padding-right:20px; margin-bottom:12px;}
#typo-drop div#typo-selector {width:130px;}
#typo-drop div#typo-font-family {width:240px;}
#typo-selector p {font-size:9px !important; line-height:1.2 !important; margin:1em 0 0 !important; padding:0 !important;}
#typo-controls {position:absolute; bottom:60px; left:65px; width:55px; height:60px;}
#typo-controls div {position:absolute; font-size:20px; width:1em; height:1em; cursor:pointer; color:#555; min-width:inherit !important; min-height:inherit !important;}
#typo-controls div:hover {color:#000;}
#typo-controls .up {left:1em; top:0;}
#typo-controls .down {left:1em; bottom:0;}
#typo-controls .left {left:0; top:1em;}
#typo-controls .right {right:0; top:1em;}
#typo-drop #typo-font-family ul {float:left; width:110px; padding-right:5px;}
#typo-drop #typo-font-family ul#typo-font-family-sans {padding-right:10px; width:115px;}
#typo-drop ol li {list-style: none outside}
#typo-drop ol, #typo-drop ul {margin:0; padding:0;}
#typo-drop li {font-size:11px !important; line-height:1.5 !important; margin:0 !important; padding:0 !important; list-style: none outside none !important; text-indent:0 !important;}
#typo-drop li.core {margin-bottom:4px !important;}
#typo-drop ul li:hover {cursor:pointer; background-color:#e6e6e6;}
#typo-drop ol input[type=radio] {margin-left:-5px;}
#typo-blah {width:100px; margin-left:5px;}
#typo-drop ol label {margin-left:5px;}
#typo-credit {position:absolute; bottom:21px; left:32px; font-size:9px;}
#font-friend a {color:#4C0003 !important; text-decoration:underline !important; border:0 !important;}
#font-friend a:hover {color:#A60007 !important;}